body {
    margin: 0px;
    max-width: 1440px;
}

::-webkit-scrollbar {
    width: 0px;
}

.header {
    width: 100%;
    height: 90px;
    margin: 0px;

    background-color: #181818;
}

.logo {
    margin-left: 11.13%;
    margin-top: 30px;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;

    position: absolute;
    left: 600px;
    top: 20px;
    width: 700px;
    height: 50px;
    margin: 0px;
    padding: 0px;
    
    list-style: none;
}

.link-navigation {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;

    text-decoration: none;
    color: #ffffff;
}

.get-template {
    width: 155px;
    height: 42px;

    background-color: #ffffff;
    border-radius: 14px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #000000;
    border: none;
}

.description-block {
    position: relative;
    width: 100%;
    height: 716px;

    background-image: url(/assets/IMG/bg-block1.png);
}

.calling {
    position: absolute;
    width: 18.3%;
    left: 40.8%;
    top: 65.1%;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #C0C0C0;
}

.company-name {
    position: absolute;
    /* width: 32.6%; */
    left: 33.6%;
    top: 68%;
    margin: 0px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;

    color: #ffffff;
}

.description-text {
    position: absolute;
    width: 580px;
    height: 80px;
    left: 28.8%;
    top: 78.2%;
    margin: 0px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: center;

    color: #C0C0C0;
}

.description-label {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;

    position: absolute;
    width: 295px;
    height: 16px;
    left: 77%;
    top: 91.3%;
}

.business-areas {
    width: 100%;
    height: 1558px;

    background-color: #000000;
}

.head-business-areas {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;

    margin: 0px;
    padding-top: 113px;

    color: #ffffff;
}

.areas {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 30px;
    text-align: center;

    margin-top: 15px;
    color: #C0C0C0;
}